<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <h1>Thanks for signing up, <%= @user.name %>!</h1>
        <p>Thanks for joining and have a great day! Now sign in and do
    awesome things!</p>
        <img src="https://github.com/astronaut-nemo/phase-5-sendgrid-test/blob/main/app/views/user_notifier_mailer/Email%20Banner.png?raw=true"/>
    </body>
</html>