<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <h1>Hello <%= @user.name %>! If you are receiving this email, you have an annoying younger sibling!</h1>
        <p>Just wanted to say hi from my program. Used code to send this email.</p>
    </body>
</html>